* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.textoIndex {
  font-size: 18px;
  border: solid 1px;
  background-color: #d2a3db;
  padding: 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'PT sans', sans-serif;
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='333' height='333' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); }

.cabecera {
  background-color: black; }

.h1 {
  color: #F2E3F5;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 48px; }


.bg-1 {
  background: linear-gradient(135deg, #dea9a9 0%, #6ba4e0 100%);
  text-align: center; }

.h1-sombraAnimada {
  color: #ffffff;
  font: normal 48px 'PT sans', sans-serif;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 2; }

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #da0641,
  3px -3px 0 #da0641,
  2px -2px 0 #da0641,
  1px -1px 0 #da0641,
  -4px 4px 0 #13f1fc,
  -3px 3px 0 #13f1fc,
  -2px 2px 0 #13f1fc,
  -1px 1px 0 #13f1fc; }
  25% {
    text-shadow: -4px -4px 0 #13f1fc,
  -3px -3px 0 #13f1fc,
  -2px -2px 0 #13f1fc,
  -1px -1px 0 #13f1fc,
  4px 4px 0 #da0641,
  3px 3px 0 #da0641,
  2px 2px 0 #da0641,
  1px 1px 0 #da0641; }
  50% {
    text-shadow: -4px 4px 0 #da0641,
  -3px 3px 0 #da0641,
  -2px 2px 0 #da0641,
  -1px 1px 0 #da0641,
  4px -4px 0 #13f1fc,
  3px -3px 0 #13f1fc,
  2px -2px 0 #13f1fc,
  1px -1px 0 #13f1fc; }
  75% {
    text-shadow: 4px 4px 0 #13f1fc,
  3px 3px 0 #13f1fc,
  2px 2px 0 #13f1fc,
  1px 1px 0 #13f1fc,
  -4px -4px 0 #da0641,
  -3px -3px 0 #da0641,
 -2px -2px 0 #da0641,
 -1px -1px 0 #da0641; }
  100% {
    text-shadow: 4px -4px 0 #da0641,
 3px -3px 0 #da0641,
 2px -2px 0 #da0641,
 1px -1px 0 #da0641,
 -4px 4px 0 #13f1fc,
 -3px 3px 0 #13f1fc,
 -2px 2px 0 #13f1fc,
 -1px 1px 0 #13f1fc; } }

.h2 {
  color: #F2E3F5;
  font-weight: bold;
  text-align: center;
  font-size: 24px; }

.h3 {
  color: #F2E3F5;
  font-weight: bold;
  text-align: center;
  font-size: 20px; }

.navbar {
  margin-bottom: 100px; }

.warning {
  border: solid 1px;
  font-size: 18px;
  margin: 20px;
  background-color: #d2a3db; }

.warn2 {
  border: solid 1px;
  font-size: 18px;
  margin: 20px;
  background-color: #d2a3db; }

.linkMovie {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.textoIndex {
  font-size: 18px;
  border: solid 1px;
  background-color: #d2a3db;
  padding: 5px; }

#imgIndex {
  width: 360px;
  height: 216px;
  border-radius: 8%;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px; }

.textoNS {
  font-size: 18px;
  border: solid 1px;
  background-color: #d2a3db;
  padding: 5px;
  margin-top: 20px; }

.carousel-item {
  width: 250px;
  height: 280px; }

.carouselNS {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 280px; }

.imgGal {
  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense; }

.imgGal__img {
  
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  width: 280px;
  height: 190px; }

.loremGaleria {
  font-size: 18px;
  margin: 30px;
  background-color: #d2a3db;
  padding: 10px;
  border: solid 2px; }

.textoContacto {
  font-size: 18px;
  border: solid 1px;
  margin: 20px;
  padding-left: 3px;
  background-color: #d2a3db; }

.formulario {
  font-size: 18px;
  border: solid 1px;
  margin: 20px;
  margin-right: 60px;
  padding: 10px; }

footer {
  display: flex;
  background-color: black;
  margin-top: 400px; }

.tituloFooter1 {
  justify-content: flex-start;
  color: #F2E3F5;
  font-size: 18px; }

.tituloFooter2 {
  justify-content: flex-end;
  color: #F2E3F5;
  font-size: 18px; }

.enlacesFooterF {
  justify-content: flex-start; }

.enlacesFooterL {
  justify-content: flex-end; }

.enlacesFooter li {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px; }

.container_Gal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    padding: 20px;
    grid-gap: 10px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    border-radius: 8%;
    object-fit: cover;
}

@media (min-width:768px){
    container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:992px){
    container{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width:1024px){
    container{
        grid-template-columns: repeat(3, 1fr);
    }
}

