
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import './base/variables';
@import './components/index';
@import './components/footer';
@import './components/contacto';




body{   
    font-family: 'PT sans', sans-serif;
    background-color: #080008;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23C800C8' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23B200B2'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}


.cabecera{
    background-color: black;
}

.h1{
    color: #F2E3F5;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
}


.bg-1{
    background: linear-gradient(135deg, rgb(222, 169, 169) 0%, rgb(107, 164, 224) 100%);
    text-align: center;
    
    }

.h1-sombraAnimada {
    color: #ffffff;

    font: normal 48px 'PT sans', sans-serif;

    left: 0;
    
    letter-spacing: 5px;

    text-align: center;
    
    text-transform: uppercase;
    
    width: 100%;
    
    animation: move linear 2000ms infinite;
    
    z-index: 2
    }

@keyframes move {
          0% {        
            text-shadow:        
              4px -4px 0 #da0641,
        
              3px -3px 0 #da0641,
        
              2px -2px 0 #da0641,
        
              1px -1px 0 #da0641,
        
              -4px 4px 0 #13f1fc,
        
              -3px 3px 0 #13f1fc,
        
              -2px 2px 0 #13f1fc,
        
              -1px 1px 0 #13f1fc;        
        }
        
          25% {        
            text-shadow:
        
              -4px -4px 0 #13f1fc,
        
              -3px -3px 0 #13f1fc,
        
              -2px -2px 0 #13f1fc,
        
              -1px -1px 0 #13f1fc,
        
              4px 4px 0 #da0641,
        
              3px 3px 0 #da0641,
        
              2px 2px 0 #da0641,
        
              1px 1px 0 #da0641;
        
        }
        
          50% {        
            text-shadow:
        
              -4px 4px 0 #da0641,
        
              -3px 3px 0 #da0641,
        
              -2px 2px 0 #da0641,
        
              -1px 1px 0 #da0641,
        
              4px -4px 0 #13f1fc,
        
              3px -3px 0 #13f1fc,
        
              2px -2px 0 #13f1fc,
        
              1px -1px 0 #13f1fc;
        }
        
          75% {
        
            text-shadow:
        
              4px 4px 0 #13f1fc,
        
              3px 3px 0 #13f1fc,
        
              2px 2px 0 #13f1fc,
        
              1px 1px 0 #13f1fc,
        
              -4px -4px 0 #da0641,
        
              -3px -3px 0 #da0641,
              -2px -2px 0 #da0641,
              -1px -1px 0 #da0641;
        }
          100% {
            text-shadow:
              4px -4px 0 #da0641,
              3px -3px 0 #da0641,
              2px -2px 0 #da0641,
              1px -1px 0 #da0641,
              -4px 4px 0 #13f1fc,
              -3px 3px 0 #13f1fc,
              -2px 2px 0 #13f1fc,
              -1px 1px 0 #13f1fc;
        }
    }
        
    
.navbar{
    margin-bottom: 200px;
    background-color: black;
  }


.h2{
    color: #F2E3F5;
    font-weight: bold;
    text-align: center;
    font-size: map-get($tamanio-tipografias, subtitulos );
}

.h3{
    color: #F2E3F5;
    font-weight: bold;
    text-align: center;
    font-size: map-get($tamanio-tipografias, sub-subtitulo );
}




.warning{
  @extend %cajas;
  font-size: map-get($tamanio-tipografias, parrafo );
  margin: 20px;
}

.warn2{
  @extend %cajas;
  font-size: map-get($tamanio-tipografias, parrafo );
  margin: 20px;  
}

.linkMovie{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


#imgIndex{
  width: 360px;
  height: 216px;
  border-radius: 8%;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;

}

.textoNS{
  font-size: map-get($tamanio-tipografias, parrafo );
  @extend %cajas;
  padding: 5px;
  margin-top: 20px;    

}




.carousel-inner{
  width: 350px;
  height: 380px;
}

.carouselNS{
  display: flex;
  justify-content: center;
  width: 350px;
  height: 380px;

}



.imgGal{
    display: grid;
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: row dense;
    
    
    
}

.imgGal__img{
  border-radius: 8%;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  width: 280px;
  height: 190px;
  
}

.loremGaleria{
  font-size: map-get($tamanio-tipografias, parrafo);
  margin: 30px;
  @extend %cajas;
  padding: 10px;
  }

  .notfound{
    font-size: 60px;
  }


