.textoContacto{
    font-size: map-get($tamanio-tipografias, parrafo);  
    margin: 20px;
    padding-left: 3px;
    @extend %cajas;
  }
  
.formulario{
    font-size: 40px;
    margin: 20px;
    margin-right: 60px;
    padding: 10px;
    
}


  


/* <form class="formulario">
            <div class="caja_form">
               <label for="nombre_completo" style="color: white;">Nombre y Apellido :</label>
               <input  type="text" name="nombre_completo">
            </form>
            <div class="caja_form">
                <label for="Correo_Electronico" style="color: white;">Correo Electronico : </label>
                <input  type="text" name="Correo_Electronico">
            </div>
            <div class="caja_form">
                <label for="Razon-de-Contacto" style="color: white;" >Razon de Contacto:</label>
                <input  type="text" name="Razon-de-Contacto">
            </div>
            <input type="button" value="Enviar">
        </form> */
  