.textoContacto{
    font-size: map-get($tamanio-tipografias, parrafo);  
    margin: 20px;
    padding-left: 3px;
    @extend %cajas;
  }
  
.formulario{
    font-size: 40px;
    margin: 20px;
    margin-right: 60px;
    padding: 10px;
    
}


  


