.container_Gal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    padding: 20px;
    grid-gap: 10px;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width:768px){
    container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:992px){
    container{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (min-width:1024px){
    container{
        grid-template-columns: repeat(3, 1fr);
    }
}



/* .imgGal{
    display: grid;
    grid-auto-rows: 200px;
    gap: 1rem;
    grid-auto-flow: row dense;    
    
}

.imgGal__img{
  border-radius: 8%;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  width: 280px;
  height: 190px;
  margin-bottom: 20px;
  
} */