*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.textoIndex{
    font-size: $tamanoLetra;
      border: solid 1px;
      background-color: $colorCajas;
      padding: 5px;
      
  }