*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.textoIndex{
    font-size: map-get($tamanio-tipografias, parrafo);
    @extend %cajas;
    padding: 5px;
      
  }

  #imgIndex{
    width: 360px;
    height: 236px;
    border-radius: 8%;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  
  }