/* son cajitas o palabras clave en las cuales nosotros guardamos un valor para reutilizarlo despues */

$tamanoLetra: 18px;
$colorCajas: #d2a3db

$tamanio-tipografias(
    titulos: 48px,
    subtitulos:24px,
    sub-subtitulo:20px,
    parrafo: 18px,
);


%cajas{
    border: solid 1px;
    background-color: #d2a3db;
};

@mixin flexfootF ($justify){
    justify-content: $justify;
};

@mixin flexfootL ($justify){
    justify-content: $justify;
}
