/* son cajitas o palabras clave en las cuales nosotros guardamos un valor para reutilizarlo despues */

$tamanoLetra: 18px;
$colorCajas: #d2a3db

$tamanio-tipografias(
    titulos: 48px,
    subtitulos:24px,
    sub-subtitulo:20px,
    parrafo: 18px
)

